# Daten umwandeln - Strings und Zahlen
Daten umzuwandeln ist wahrscheinlich, das was du am meisten machen wirst. Deshalb ist es praktisch es schon jetzt kennen zu lernen.

### Eine Integer in Float umwandeln

In [3]:
x = 123123
y = 398498
z = float(x)/y
z

0.3089676736144222

In [4]:
int(7.9)

7

### Einen String in eine Zahl umwandeln
Dazu wenden wir den **int()**-Befehl auf einen String (direkt oder in einer Variable gespeichert) an: **int(string)**

int steht für Integer, den englischen Begriff für Ganzzahl.

In [10]:
a = "5"
b = "6"
a+b

'56'

In [9]:
a = "5"
b = "6"

print(int(a) + int(b))

11

### Einen String in eine Kommazahl umwandeln
Dazu wenden wir den **float()**-Befehl auf einen String (direkt oder in einer Variable gespeichert) an: **float(string)** 
 
 
Der Name float kommt daher, dass man Kommazahlen auch Fließkommazahlen nennt.

In [1]:
a = "5.5"
b = "6.6"

print(float(a) + float(b))

12.1

### Eine Zahl in einen String umwandeln
Dazu wenden wir den **str()**-Befehl auf eine Ganzzahl oder Kommazahl an (direkt oder in einer Variable gespeichert): **str(zahl)**

In [3]:
age = 21
print("Ich bin " + str(age) + " Jahre alt")

Ich bin 21 Jahre alt

## Übung

- Speichere  die Zahl PI mit 4 Nachkommastellen in der Variable a. 
- Multipliziere sie mit 2. 
- Wandle die Zahl in einen String um und gebe sie aus als Satz: "Das doppelter der Zahl Pi ist: a"

In [34]:
a = round(math.pi, 4)

In [35]:
b = a * 2
str(b)

'6.2832'

In [36]:
print("Das doppelte der Zahl Pi ist: " + str(b))

Das doppelte der Zahl Pi ist: 6.2832

# Daten umwandeln - Listen und Strings
Wir können mit Python Elemente zu einer Liste zusammenfügen oder eine Liste in einzelne Elemente zerlegen.

### Strings aus einer Liste zu einem String zusammenfügen

Mit dem  **join()**-Befehl, der auf einen String angewendet wird, verbinden wir die Strings aus einer Liste zu einem neuen String: **string.join(liste)**

Der String, auf den join() angewendet wird, bildet dabei die Nahtstelle: Dieser String wird als Verbindung zwischen den einzelnen Listenelementen im neuen String gesetzt.

In [1]:
students = ["Max", "Monika", "Erik", "Franziska"]
print(", ".join(students))

Max, Monika, Erik, Franziska

In [2]:
students_as_string = ", ".join(students)
print("An unserer Uni studieren: " + students_as_string)

An unserer Uni studieren: Max, Monika, Erik, Franziska

In [3]:
students = ["Max", "Monika", "Erik", "Franziska"]
print(" - ".join(students))

Max - Monika - Erik - Franziska

In [47]:
teilnehmer = ["Reto", "Michael", "Lea"]
alle_drei_zusammen = " - ".join(teilnehmer)

In [48]:
print(alle_drei_zusammen)

Reto - Michael - Lea

### Einen String in eine Liste aufspalten

Mit dem **split()**-Befehl, der auf einen String angewendet wird, wird dieser String an seinen Leerzeichen aufgespalten und die daraus resultierenden Einzelstrings in einer Liste gespeichert: **string.split()**

In [4]:
i = "Max, Monika, Erik, Franziska"

In [5]:
print(i.split())

['Max,', 'Monika,', 'Erik,', 'Franziska']

Wir können sogar noch genauer festlegen, an welchen Stellen der String von split() aufgespaltet werden soll.

In [6]:
print(i.split(", "))

['Max', 'Monika', 'Erik', 'Franziska']

In [7]:
print(i.split("a"))

['M', 'x, Monik', ', Erik, Fr', 'nzisk', '']

Insbesondere können wir auch mehrere der Befehle, die wir schon kennen gelernt haben, miteinander kombinieren:

In [8]:
# Hier zählen wir die Anzahl der Wörter des Satzes s

s = "Ich bin ein Satz mit vielen Wörtern"
print(len(s.split()))

7

## Übung 1
- Nimm einen Artikel aus 20 minuten. 
- Kopiere ihn in einen String. 
- Zerlege den Artikel in Wörter. 
- Zähle die Wörter. 
- Gib aus " Der Artikel xyaz enthält x wörter"

In [51]:
artikel = "Aufstieg, Fall und Wiedergeburt von Nokia: Ein Insider erzählt. Risto Siilasmaa hat den Abstieg und Wiederaufstieg des finnischen Mobilfunkriesen aus nächster Nähe erlebt. Er erzählt, wie sich die 153 Jahre alte Firma neu erfinden musste."

In [52]:
print(artikel.split())

['Aufstieg,', 'Fall', 'und', 'Wiedergeburt', 'von', 'Nokia:', 'Ein', 'Insider', 'erzählt.', 'Risto', 'Siilasmaa', 'hat', 'den', 'Abstieg', 'und', 'Wiederaufstieg', 'des', 'finnischen', 'Mobilfunkriesen', 'aus', 'nächster', 'Nähe', 'erlebt.', 'Er', 'erzählt,', 'wie', 'sich', 'die', '153', 'Jahre', 'alte', 'Firma', 'neu', 'erfinden', 'musste.']

In [61]:
print(len(artikel.split()))

35

In [62]:
print("Der Artikel hier enthält " + str(len(artikel.split())) + " Wörter.")

Der Artikel hier enthält 35 Wörter.

## Übung 2 

- Lass dir vom Nachbarn seine Email geben. 
- Wenn die Mailadresse _Max-Mustermann@gmail.com_ lautet, sollst du _Max-Mustermann_ ausgeben; wenn die Mailadresse _KlaraKlarnamen@uni-berlin.de_ heisst, sollst du _KlaraKlarnamen_ ausgeben.

In [66]:
email = "reto.fehr@watson.ch"

In [67]:
email.split("@")[0]

'reto.fehr'

In [68]:
print(email.split("@")[0])

reto.fehr

In [69]:
email.split("@")

['reto.fehr', 'watson.ch']

In [70]:
email.split("@")[1]

'watson.ch'

In [110]:
email.split(".")[0]

'reto'

## Übung 3

Aktuell legen alle Kunden (`mail1`, `mail2`, `mail3`) als separate Variable vor. Wir möchten daraus jetzt eine Liste bauen, sodass wir die Möglichkeit hätten, später noch weitere Kunden in diese Liste hinzuzufügen.

Überführe deswegen die Kunden `mail1`, `mail2` und `mail3` in die Liste `clients` und lasse dir anschließend die Anzahl der Elemente der Liste `clients` mit Hilfe von Python ausgeben.

In [91]:
mail1 = "zarah.zauber@zauberberg.de"
mail2 = "thomas.plotkowiak@gmail.com"
mail3 = "uwe_unhold@dunklerwald.de" 

clients = []

# Füge hier mail1, mail2, mail3 zur clients - Liste hinzu

print(clients)

[]

In [112]:
mail1 = "zarah.zauber@zauberberg.de"
mail2 = "thomas.plotkowiak@gmail.com"
mail3 = "uwe_unhold@dunklerwald.de" 
clients = [mail1, mail2, mail3]
str(clients)

"['zarah.zauber@zauberberg.de', 'thomas.plotkowiak@gmail.com', 'uwe_unhold@dunklerwald.de']"

In [105]:
print(len(str(clients).split()))

3

In [137]:
mail1 = "zarah.zauber@zauberberg.de"
mail2 = "thomas.plotkowiak@gmail.com"
mail3 = "uwe_unhold@dunklerwald.de" 
clients = [mail1.split(".")[0], mail2.split(".")[0], mail3.split("_")[0]]
str(clients)

"['zarah', 'thomas', 'uwe']"

In [136]:
print(len(str(clients).split()))

3

In [138]:
clients.append("reto")

In [139]:
clients

['zarah', 'thomas', 'uwe', 'reto']